= render 'page_header', title: '대관 일정 관리', action: link_to('일정 추가', new_admin_reservation_path, class: 'btn btn-primary')

%section.px-4.py-2
  .py-2 대관일정을 관리할 수 있습니다.
  .py-2
    %table.table.table-bordered
      %thead
        %tr
          %th 공간
          %th 신청자
          %th 내용
          %th 시작 일시
          %th 종료 일시
      %tbody
        - @reservations.each do |reservation|
          %tr[reservation]
            %td= link_to reservation.space.name, admin_space_path(reservation.space)
            %td= reservation.name
            %td= link_to reservation.body, admin_reservation_path(reservation)
            %td= l reservation.start_on if reservation.start_on
            %td= l reservation.end_on if reservation.end_on