.col-md-3.col-xl-2.bd-sidebar
  %form.bd-search.d-flex.align-items-center{:role => "search"}
    %span.algolia-autocomplete{:style => "position: relative; display: inline-block; direction: ltr;"}
      %input#search-input.form-control.ds-input{"aria-autocomplete" => "list", "aria-expanded" => "false", "aria-label" => "Search for...", "aria-owns" => "algolia-autocomplete-listbox-0", :autocomplete => "off", "data-docs-version" => "4.4", :dir => "auto", :placeholder => "Search...", :role => "combobox", :spellcheck => "false", :style => "position: relative; vertical-align: top;", :type => "search"}/
      %pre{"aria-hidden" => "true", :style => "position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, system-ui, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, \"Noto Sans\", sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\"; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"}
      %span#algolia-autocomplete-listbox-0.ds-dropdown-menu{:role => "listbox", :style => "position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"}
        .ds-dataset-1
    %button.btn.btn-link.bd-search-docs-toggle.d-md-none.p-0.ml-3.collapsed{"aria-controls" => "bd-docs-nav", "aria-expanded" => "false", "aria-label" => "Toggle docs navigation", "data-target" => "#bd-docs-nav", "data-toggle" => "collapse", :type => "button"}
      %svg{:focusable => "false", :height => "30", :role => "img", :viewbox => "0 0 30 30", :width => "30", :xmlns => "http://www.w3.org/2000/svg"}
        %title Menu
        %path{:d => "M4 7h22M4 15h22M4 23h22", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-miterlimit" => "10", "stroke-width" => "2"}
  %nav#bd-docs-nav.bd-links.collapse{"aria-label" => "Main navigation", :style => ""}
    - if can? :manage, OpItem
      .bd-toc-item.active
        %a.bd-toc-link{:href => "/docs/4.4/getting-started/introduction/"}
          메인 페이지 관리
        %ul.nav.bd-sidenav
          - Setting.op_items.keys.each do |k|
            %li
              = link_to Setting.op_items[k]["name"], admin_op_items_path(category: k)
    - if can? :manage, User
      .bd-toc-item.active
        %a.bd-toc-link{:href => admin_users_path}
          회원 관리
        %ul.nav.bd-sidenav
          %li
            = link_to '전체 회원', admin_users_path
          %li
            = link_to '웹알림', admin_notifications_path
          %li
            = link_to '휴면 회원', hibernated_admin_users_path
          %li
            = link_to '탈퇴 기록', admin_user_deletions_path

    - if can? :manage, Inquiry
      .bd-toc-item.active
        %a.bd-toc-link{:href => admin_inquiries_path}
          상담 관리
        %ul.nav.bd-sidenav
          %li
            = link_to '상담 목록', admin_inquiries_path
    
    - if can? :manage, Subscription
      .bd-toc-item.active
        %a.bd-toc-link{:href => admin_inquiries_path}
          구독자 관리
        %ul.nav.bd-sidenav
          %li
            = link_to '구독자', admin_subscriptions_path
    - if can? :manage, Space
      .bd-toc-item.active
        %a.bd-toc-link{:href => admin_inquiries_path}
          공간 관리
        %ul.nav.bd-sidenav
          %li
            = link_to '공간 관리', admin_spaces_path
          %li
            = link_to '대관 일정 관리', admin_reservations_path
    - if can? :manage, Board
      .bd-toc-item.active
        %a.bd-toc-link{:href => admin_boards_path}
          게시판 관리
        %ul.nav.bd-sidenav
          %li
            = link_to '게시판 관리', admin_boards_path
          %li
            = link_to '게시물 관리', admin_board_posts_path
    - if can? :manage, Policy
      .bd-toc-item.active
        %a.bd-toc-link{:href => admin_policies_path(category: 'terms')}
          약관 및 정책 관리
        %ul.nav.bd-sidenav
          %li
            = link_to '서비스 이용 약관 관리', admin_policies_path(category: 'terms')
          %li
            = link_to '개인정보처리방침 관리', admin_policies_path(category: 'privacy')
    - if can? :manage, Setting
      .bd-toc-item.active
        %a.bd-toc-link{:href => admin_roles_path}
          설정 관리
        %ul.nav.bd-sidenav
          %li
            = link_to '권한', admin_roles_path
          %li
            = link_to '설정', admin_settings_path
            

