<h1>Terms</h1>
<div>
    <label>개정이력</label>
    <div>
    <label for="select"><%= l @policy.created_at.to_date %></label>
    <select id="select" onchange="location.href=$(this).val();">
        <%- Policy.where(category: "terms").each do |policy| %>
        <option value="/pages/terms?id=<%= policy.id %>" <%= @policy == policy ? "selected" : "" %>><%= l policy.created_at.to_date %></option>
        <% end %>
    </select>
    </div>
</div>
<div>
    <%= raw @policy.body if @policy.present? %>
</div>