.p-4.border-bottom{ id: op_item.sortable_id }
  .d-flex.justify-content-start
    - unless op_item.new_record?
      .pr-4
        %i.fas.fa-arrows-alt{ style: 'cursor: pointer' }
    .flex-fill
      = simple_form_for [:admin, op_item] do |f|
        = f.hidden_field :category
        - @op_item_setting.each do |k, v|
          - if k != 'name'
            .form-group
              - content = op_item.get_value(k)
              %label= I18n.t(k, scope: 'activerecord.attributes.op_item')
              - if v == 'string'
                = text_field_tag "op_item[content][#{k}]", content, class: "form-control"
              - if v == 'text'
                = text_area_tag "op_item[content][#{k}]", content, class: "form-control"
              - if v == 'image'
                .form-group-row.row
                  .col-6
                    = file_field_tag "op_item_#{op_item.sortable_id}_#{k}", data: { field_id: "op_item_content_#{k}" }, accept: 'image/png,image/gif,image/jpeg', class: "form-control form-op-item-image"
                    = hidden_field_tag "op_item[content][#{k}]", content.try(:id), class: "form-control"
                  .col-6
                    - if !op_item.new_record? && content.present?
                      = image_tag content.file.variant(resize: '300x'), class: 'card-img-top'
        = f.submit class: 'btn btn-primary'
        - unless op_item.new_record?
          = link_to '삭제', [:admin, op_item], method: :delete, remote: true, class: 'btn btn-outline-secondary'
