= render 'page_header', title: '권한 관리', action: nil

%section.p-4
  %section.mb-4.d-flex.justify-content-between.align-items-center
    %h5 회원
    %div
      = form_with url: admin_roles_path, local: true, method: :get, class: "form-inline" do |f|
        %label.mr-2 권한
        = select_tag :role, options_for_select(User.roles.keys, params[:role]), { include_blank: "전체", onchange: "this.form.submit();", class: "form-control form-control-sm" }

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th ID
        %th 아이디
        %th 이메일
        %th 이름
        %th 권한
        %th
    %tbody
      - @users.each do |user|
        = form_with model: user, url: admin_user_path(user) do |f|
          %tr[user]
            %td= user.id
            %td= user.uid
            %td= user.email
            %td= user.name
            %td
              = f.select :role, User.roles.keys, {}, { class: "form-control form-control-sm" }
            %td.text-nowrap
              = f.submit "저장", class: 'btn btn-outline-secondary btn-sm'
