= render 'page_header', title: '전체 회원', action: nil

-# . -> class
-# % -> html tag 
-# # -> id
%div.div-hr
%section.p-4
  %section.pb-4
    = form_with url: admin_users_path, local: true, method: :get do |f|
      %h5 검색 구분
      .form-row
        .col-8
          = f.text_field :q, value: params[:q], placeholder: "ID, 이름, 이메일로 검색하세요", class: "form-control"
        .col-4
          = f.submit "검색", class: "btn btn-outline-primary"
          = link_to('엑셀 다운로드', admin_users_path(format: :xlsx, q: params[:q]), class: "btn btn-primary")

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th ID
        %th 아이디
        %th 이메일
        %th 이름
        %th 가입경로
        %th 로그인횟수
        %th
    %tbody
      - @users.each do |user|
        %tr[user]
          %td= link_to user.id, admin_user_path(user)
          %td= user.uid
          %td= user.email
          %td= user.name
          %td= user.provider
          %td= user.sign_in_count
          %td.text-nowrap
            = link_to '삭제', admin_user_path(user), method: :delete, data: { confirm: "정말 삭제하시겠습니까?" }, class: 'btn btn-outline-danger btn-sm'

  .d-flex.justify-content-center
    = paginate @users, theme: 'admin'