%footer{ style: 'background: #eee; padding: 1rem;' }
  .container-fluid
    .row
      .col-sm-6
        = link_to 'slowalk.co.kr', 'https://slowalk.co.kr'
        = link_to '이용약관', '/pages/terms'
        = link_to '개인정보처리방침', '/pages/privacy'

      .col-sm-6
        .text-right
          = form_with model: Subscription.new do |f|
            = f.text_field :name, placeholder: '이름'
            = f.email_field :email, placeholder: '이메일'
            = f.submit '구독신청'