<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">Base Rails</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-header">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Users", users_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "공간 목록", spaces_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "대관 일정", reservations_path, class: "nav-link"%>
      </li>
      <% Board.all.each do |board| %>
        <li class="nav-item">
          <%= link_to board.name, users_path, class: "nav-link"%>
        </li>
      <% end %>
    </ul>

    <form class="form-inline my-2 my-md-0 mr-4">
      <input class="form-control" type="text" placeholder="Search">
    </form>

    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Login', new_user_session_path %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>