!!!
%html{:lang => "ko"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title Base Rails
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag 'admin'
  %body
    %nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
      %a.navbar-brand.col-sm-3.col-md-2.mr-0{:href => "#"} Base Rails
      %ul.navbar-nav.px-3
        %li.nav-item.text-nowrap
          - if user_signed_in?
            = link_to '로그아웃', destroy_user_session_path, class: "nav-link", method: :delete
          - else
            = link_to '로그인', new_user_session_path, class: "nav-link"

    .container-fluid{:style => "padding-top: 40px"}
      .row
        = render "menu"
        %main.col.px-0{:role => "main", :style => "min-height: 100vh"}
          - if notice
            %section.bg-success.text-white.p-4
              = notice
          - if alert
            %section.bg-danger.text-white.p-4
              = alert
          = yield
