!!!
%html{:lang => "ko"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title= Setting.site_name
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"

  %body
    %nav.navbar.navbar-dark.fixed-top.flex-md-nowrap.p-0.shadow 
      -# .bg-p-primary
      %a.navbar-brand.col-sm-3.col-md-2.mr-0{:href => "#"} Base Rails
      %ul.navbar-nav.px-3
        %li.nav-item.text-nowrap
          - if user_signed_in?
            = link_to '로그아웃', destroy_user_session_path, class: "nav-link", method: :delete
          - else
            = link_to '로그인', new_user_session_path, class: "nav-link"

    .container-fluid{:style => "padding-top: 40px"}
      .row
        = render "menu"
        %main.col.px-0{:role => "main", :style => "min-height: 100vh"}
          - if notice
            .alert.alert-success.alert-dismissible.position-absolute{ role: 'alert', style: 'width: 100%' }= notice
          - if alert
            .alert.alert-danger.alert-dismissible.position-absolute{ role: 'alert', style: 'width: 100%' }= alert

          = yield
