<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <div class="form-group">
      <label class="form-check">
        <%= f.check_box :terms_and_conditions, class: 'form-check-input' %>
        <%= f.label :terms_and_conditions, label: '이용약관에 동의합니다.', class: 'form-check-label' %>
      </label>
      <textarea class="form-control"><%= raw Policy.terms.body if Policy.terms.present? %></textarea>
    </div>
    <div class="form-group">
      <label class="form-check">
        <%= f.check_box :privacy_policy, class: 'form-check-input' %>
        <%= f.label :privacy_policy, label: '개인정보 수집 및 이용에 동의합니다.', class: 'form-check-label' %>
      </label>
      <textarea class="form-control"><%= raw Policy.privacy.body if Policy.privacy.present? %></textarea>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
